.listItem {
padding-left: 0;
}

.listItem li{
    list-style-type: none;
    margin-bottom: 16px;
 
}

.listItem a{
    text-decoration: none;
    color: #e73f15 ;
    font-size: 16px;
}

.listItem a:hover{
    color: #798c96;
}


.rewardImage {
    bottom: 0;
    width: 50%;
    height: 210px;
    margin-bottom: -4px;
    
    }

    .listItem1 a{
        text-decoration: none;
        color: #e73f15 ;
    }

    .listItem1 a:hover {
        text-decoration: underline;
    }