.listItem{
    padding-left: 0px !important;

}

.listItem li{
    list-style-type: none;
    margin-bottom: 16px;
}

.listItem a{
    text-decoration: none;
    color: #e73f15 ;
    font-size: 16px;
}

.listItem a:hover{
    color: #798c96;
}

.linkTypo a{
   text-decoration: none;
   color: black;
} 
.linkTypo a:hover{
    text-decoration: underline;
} 

.data  {
    border: 1px solid #dee2e6;
    padding:13.8px 10px;
    
  }
  .data p{
    font-size: 14px;
    line-height: 20px;
  }

.table {
    display: block;
    overflow-x: auto;
    
     border-collapse: collapse;
   }
    .row:nth-child(even){background-color: #ebf4f7;}

   
.linkName a {
    text-decoration: none;
    color:#e73f15;
    
}

.linkName a:hover {
    color: #798c96;
}

.linkVideo  a{
    text-decoration: none;
}

.linkText a{
    color:#e73f15;
    text-decoration: none;
    list-style-type: none;
}



.linkText a:hover {
    color: #798c96;
}

.spanDash {
    width: 18px !important;
    height: 2px !important;
    background-color: #000000 !important;
    position: absolute;
   margin-top: 10px;
}