.typograpy_list{
    color: '#0f212b';
    font-weight: 'bold'; 
    font-size: '18px'
}
.para_styles{
    color: #0f212b;
    margin: 0px 0px 30px;
    font-size: 18px;
    text-align: justify;
}
.anchor_link{
    text-decoration: none;
    color: #e73f15;
}
.anchor_link:hover{
    color: #798c96;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 