.linkText a{
    color:#e73f15;
    text-decoration: none;
    list-style-type: none;
}



.linkText a:hover {
    color: #798c96;
}

.spanDash {
    width: 18px !important;
    height: 2px !important;
    background-color: #000000 !important;
    position: absolute;
   margin-top: 10px;
}