.bg{
    background-color: #0f212b;
    color: #fff;
    padding:30px 0px
}

.h1size{
    font-size: 62px;
    margin: 0px 0px 20px 0px;
}




.textstyl p{
    font-size: 18px;
}
.textstyl p a{
    color: red;
    text-decoration: none;
}
.textstyl p a:hover{
    color: #798c96;
    text-decoration: none;
} 

.bold{
    font-weight: bold;
    margin-top: 30px;
}
.bold span{
    font-weight: normal;
}
.bolder{
    font-weight: bold;
    margin-bottom: 15px;
}
.bolder span{
    font-weight: normal;
}
.disc{
    list-style-type: disc;
    color: #7ddfff;
    font-size: 22px;
    padding-left: 25px;
}


.disc li span{
    text-decoration: underline;
}

.bottom{
    margin-bottom: 30px;
    margin-top: 30px;
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
   

    .h1size{
        font-size: 49px !important;
        margin: 0px 0px 20px 0px;
    }
    /* constitutional */
  
}

/* mobile */
@media screen and (max-width: 576px) {
  

    .h1size{
        font-size: 38px;
        margin: 0px 0px 20px 0px;
    }
    .textstyl{
        padding-right: 10px;
    }
    .bottom{
        margin-bottom: 60px;
        margin-top: 30px;
    }
}


/* about card */


