.bg{
    background-color: #0f212b;
    color: #fff;
}



.h1size{
    font-size: 62px;
    margin: 0px 0px 20px 0px;
}



.blockspace{
    padding: 36px 0px 36px 80px;
}

.hline{
    width: 18px !important;
    height: 2px !important;
    background-color: #fff !important;
    position: absolute;
    margin-bottom: 2px;
}

.insidelnk{
    text-decoration: none;
    font-size: 16px; 
    color: #7ddfff;
    margin-left: 25px;
}

.insidelnk:hover{
    color: #fff;
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .blockspace{
        padding: 36px 0px 36px 60px;
    }

    .h1size{
        font-size: 49px !important;
        margin: 0px 0px 20px 0px;
    }
}
/* mobile */
@media screen and (max-width: 768px) {
    .blockspace{
        padding: 36px 0px 36px 30px;
    }
   
    .h1size{
        font-size: 38px;
        margin: 0px 0px 20px 0px;
    }
    /* aboutcard */
    
.gridscardpadone{
    padding: 40px 0px 40px 30px !important;
    margin-right: 30px;
}

}


/* about card */

.linkbox{
    background-color: #ebf4f7;
    padding: 25px;
}
.linkbox h2{
    font-size: 26px;
}
.aboutul{
    padding-left: 0px !important;

}
.aboutul li{
    list-style-type: none;
    margin-bottom: 16px;
}

.aboutul a{
    text-decoration: none;
    color: #e73f15 ;
    font-size: 16px;
}

.aboutul a:hover{
    color: #798c96;
}


.gridscardpadone{
    padding: 40px 20px 40px 70px;
}
