.policeImage  img{
    width: 480px;
    height:600px;
}

.linkText  {
    text-decoration: none;
   
    
  
}
.linkText a {
    text-decoration: none;
    color: #e73f15 ;
    padding:0px 10px;
    font-size: 18px;

   
  
    
}
.linkText a:hover {
    color: #798c96;

}


.linkletter  {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.linkletter a{
    color: #e73f15;
    text-decoration: none;
    font-family: Public Sans,sans-serif;
    font-size: 18px;
    width: fit-content;
}


.linkListText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

}

.linkListText a{
text-decoration: none;
width: fit-content;
}

.linkListText a p{
   color:#000;
  }

.linkListText a p:hover{
    color:#e73f15;
   }

.flexBox {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}

.linkList {
    color:"#000";
    text-decoration: none;
}

@media screen and (max-width: 1370px) {
    .policeImage  img{
        width: 100%;
        height:auto;
    }
}

.mobileTabContained {
    display: none;
}

@media screen and (max-width: 992px) {
    .tabContained {
     display: none;
    }
    .mobileTabContained {
        display: block;
    }
}
