
.listItem{
    padding-left: 0px !important;
    margin-top: 50px;

}
.listItem li{
    list-style-type: none;
    margin-bottom: 16px;
    
}

.listItem a{
    text-decoration: none;
    color: #e73f15 ;
    font-size: 16px;
  
}

.listItem a:hover{
    color: #798c96;
}

.lapdImage {
    width: 50%;
    height:auto;
}





.factslist li {
    text-decoration: none;
    list-style: none;
    margin-top: 12px;
  
  
}


