/* Top-section */

@media screen and (max-width: 992px) {
  .italicTypo1 {
    font-size: 20px;
    opacity: .8;
    text-align: left;
    z-index: -1;
  }
  
  .italicTypo2 {
    font-size: 38px;
    opacity: .9;
  }
  .italicTypoBox {
    
   margin-left: 20px;
  }
 

}

.formTextField {
  width:700px
}

@media screen and (max-width: 1170px) {

  .formTextField {
          width: 55%;
   }
  }


@media screen and (max-width: 890px) {

  .formTextField {
          width: 90%;
   }
  
}

.visible {
  position: absolute;
  opacity: 1;
  margin-top: -50px;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .visible {
    position: absolute;
    opacity: 1;
    margin-top: -20px;
    transition: all .5s ease-in-out;
  }
}


/* Swiper-section */


.mySwiper {
  --swiper-pagination-color:white;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-color: #ccc;
  --swiper-pagination-bottom: 25px;

} 

.swipBox1 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-01.jpg");
  background-position: center;
  width:100%;
  height:65vh;
  object-fit: cover;

}

.swipBox2 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-02.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox3 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-03.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox4 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-04.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox5 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-05.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox6 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-06.jpg");
  background-position: center;
  width:100%;
  height:65vh;
 
}

.videoBox {
  background-image: url("../../public//Images//Home//video-img-01.jpg");
  background-size: cover;
  background-position:initial;
  width:100%;
  height:65vh;
  margin-top: -35px;
  position: relative;
  transition: transform 0.2s ease-in-out;
 
  

 }


 @media screen and (max-width: 920px) {
  .swipBox1, .swipBox2 ,.swipBox3, .swipBox4 ,.swipBox5, .swipBox6, .videoBox {
    height: 40vh;
   
  }
 

 }
 @media screen and (max-width: 1024px) {
  .swipBox1, .swipBox2 ,.swipBox3, .swipBox4 ,.swipBox5, .swipBox6, .videoBox {
    height: 50vh;

  
  }



 }





.nameBox {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #052942;
  }

.videoBoxContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  }


.playBoxIcon {
  margin-left: 5px;
}

.playBox {
  border: 3px solid #e73f15;
  height: 60px;
  width: 60px;
  background-color: #e73f15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoBox:hover .playBox{
 background-color:transparent;
 border:3px solid #ffffff;
 opacity: .9;
}

.videoBox:hover  {
  transform: scale(1.05);
  
}

/* Quick-Links */


.file{
  padding-bottom: 21px;
}



.link{
  text-decoration: none;
}

.pb{
  padding-bottom: 24px !important;
}

.boxes .imgs {
color:#000;
height: 50px;
width: 50px;

}

.boxes p {
  color:#000;
  text-align: center;
 }

 .boxes:hover {
  background-color:#ebf4f7;
 }
.boxes:hover img{
  transform: scale(1.2);
  transition: .4s;
  color: #e73f15;
}

#icon-filepolicereport:hover {
   fill:#e73f15;
  }





.boxes:hover p{
   transition: .4s;
  color:#e73f15
}

@media screen and (max-width: 768px) {
 
  
  .pb{
      padding-bottom: 45px !important;
  }
  .none{
      border-right: none;
  }
  .bottom{
      padding-bottom: 10px;
  }
  .file{
      padding-bottom: 0px;
  }
 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
  .pb{
      padding-bottom: 24px !important;
  }
  .file{
      padding-bottom: 0px;
  }
}




/* Tab-section */

.textspace {
text-decoration: none;
}


.hoverBox a {
  text-decoration: none;
}



.hoverBox {
  padding: 25px 15px 25px 25px;
  background-color: #052942;
}

.hoverBox:hover a .typo{
  color:#798c96;
  transition: .5s;
}

.hoverBox1 a {
  text-decoration: none;
}

.hoverBox1  {
  background-color: #fff;
}

.hoverBox1:hover a .typo1 {
  color:#e73f15;
  transition: .5s;
}


.line{
    width: 20px;
    height: 2px;
    margin-top: 10px;
    background-color: black;
}
.seperate p:hover{
   color:#e73f15;
}


/* menu-2 */
.calendar{
    background: #ebf4f7;
    font-weight: bolder;
    padding:15px 35px;
    line-height: 20px;
}

.textstyle h4{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 15px;
}


.textLink {
    font-size: 70px;
}

.textstyle p{
    margin-left: 20px;
    color: #798c96;
}
.seperateone{
    background-color: #ebf4f7;
}
.seperateone p{
    color:#e73f15;
}

.lineone{
    width: 20px;
    height: 2px;
    background-color: black;
}

.cardtext{
    font-weight: bolder;
    font-size: 26px;
}
.cardtextone{
    font-size: 16px;
    color: black;
}


.hdr{
    padding: 30px;
    background-color: #ebf4f7;
}





/* Card section */

.cardImage {
  width: 100%;
  height: auto;
}



/* 
@media screen and (max-width: 1150px) {
 .paddingBox {
    margin-top: 30px;
  }
}

.paddingBox {
  margin-top: 150px;
} */

