/* Top-section */

@media screen and (max-width: 992px) {
  .italicTypo1 {
    font-size: 20px;
    opacity: .8;
    text-align: left;
    z-index: -1;
  }
  
  .italicTypo2 {
    font-size: 38px;
    opacity: .9;
  }
  .italicTypoBox {
    
   margin-left: 20px;
  }
 

}

@media screen and (max-width: 899px) {

  .formTextField {
          width: 90%;
          justify-content: center;
  }
  
}

.visible {
  position: absolute;
  opacity: 1;
  margin-top: -50px;
  transition: all .5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .visible {
    position: absolute;
    opacity: 1;
    margin-top: -20px;
    transition: all .5s ease-in-out;
  }
}


/* Swiper-section */


.mySwiper {
  --swiper-pagination-color:white;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-inactive-color: #ccc;
  --swiper-pagination-bottom: 25px;

} 

.swipBox1 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-01.jpg");
  background-position: center;
  width:100%;
  height:65vh;

}

.swipBox2 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-02.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox3 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-03.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox4 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-04.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox5 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-05.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}
.swipBox6 {
  background-size: cover;
 background-image: url("../../public//Images//Home//HeroImage-06.jpg");
  background-position: center;
  width:100%;
  height:65vh;
}

.videoBox {
  background-image: url("../../public//Images//Home//video-img-01.jpg");
  background-size: cover;
  background-position:initial;
  width:100%;
  height:65vh;
  margin-top: -25px;
  position: relative;
  transition: transform 0.2s ease-in-out;
 }
 @media screen and (max-width: 920px) {
  .swipBox1, .swipBox2 ,.swipBox3, .swipBox4 ,.swipBox5, .swipBox6, .videoBox {
    height: 40vh;
  }

 }





.nameBox {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #052942;
  }

.videoBoxContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  }


.playBoxIcon {
  margin-left: 5px;
}

.playBox {
  border: 3px solid #e73f15;
  height: 60px;
  width: 60px;
  background-color: #e73f15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoBox:hover .playBox{
 background-color:transparent;
 border:3px solid #ffffff;
 opacity: .9;
}

.videoBox:hover  {
  transform: scale(1.05);
  
}

/* Quick-Links */

.boxes{
  display: grid;
  padding: 45px;
  border-left: 1px solid #d0dade;
  border-top: 1px solid #d0dade;
  color: black;
}

.imgs {
  width: 100%;
}

.file{
  padding-bottom: 21px;
}



.link{
  text-decoration: none;
}

.pb{
  padding-bottom: 24px !important;
}

.boxes:hover{
  background: #ebf4f7;
  color: #e73f15;

}
.boxes:hover .imgs {
  transform: scale(1.2);
  transition-delay: .5s;
}

@media screen and (max-width: 768px) {
 
  .boxes{
      display: grid;
      padding: 45px;
      border-left: 1px solid #d0dade;
      border-top: 1px solid #d0dade;
      border-right: 1px solid #d0dade;
  }
  .pb{
      padding-bottom: 45px !important;
  }
  .none{
      border-right: none;
  }
  .bottom{
      padding-bottom: 10px;
  }
  .file{
      padding-bottom: 0px;
  }
 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
  .pb{
      padding-bottom: 24px !important;
  }
  .file{
      padding-bottom: 0px;
  }
}




/* Tab-section */


.news{
    background-color: #052942;
    color: #fff;
    padding: 10px;
   
}

.news h3{
    font-size: 28px;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    .news h3{
        font-size: 22px;
        font-weight: 600;
    }
   
}

.news p{
    font-size: 18px;
}


.news h3:hover{
    color: #798c96;
}

.textspace h3{
    color: black;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: normal;
    font-weight: 100;
}

.textspace h3:hover{
    color:#e73f15;
}

.textspace p{
    color: #798c96;
    padding-top: 10px;
}

.line{
    width: 20px;
    height: 2px;
    margin-top: 10px;
    background-color: black;
}
.seperate p:hover{
   color:#e73f15;
}


/* menu-2 */
.calendar{
    background: #ebf4f7;
    font-weight: bolder;
    padding:15px 35px;
    line-height: 20px;
}

.textstyle h4{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 15px;
}


.textLink {
    font-size: 70px;
}

.textstyle p{
    margin-left: 20px;
    color: #798c96;
}
.seperateone{
    background-color: #ebf4f7;
}
.seperateone p{
    color:#e73f15;
}

.lineone{
    width: 20px;
    height: 2px;
    background-color: black;
}

.cardtext{
    font-weight: bolder;
    font-size: 26px;
}
.cardtextone{
    font-size: 16px;
    color: black;
}


.hdr{
    padding: 30px;
    background-color: #ebf4f7;
}





/* Card section */

.cardImage {
  width: 100%;
  height: auto;
}



/* 
@media screen and (max-width: 1150px) {
 .paddingBox {
    margin-top: 30px;
  }
}

.paddingBox {
  margin-top: 150px;
} */

