.boxes{
    display: grid;
    padding: 45px;
    border-left: 1px solid #d0dade;
    border-top: 1px solid #d0dade;
    color: black;
}

.imgs {
    width: 100%;

}

.space{
    padding: 60px;
}

.link{
    text-decoration: none;
}

.pb{
    padding-bottom: 24px !important;
}

.boxes:hover{
    background: #ebf4f7;
    color: #e73f15;
}

@media screen and (max-width: 768px) {
    .space{
        padding: 20px !important;
    }
    .boxes{
        display: grid;
        padding: 45px;
        border-left: 1px solid #d0dade;
        border-top: 1px solid #d0dade;
        border-right: 1px solid #d0dade;
    }
    .pb{
        padding-bottom: 45px !important;
    }
    .none{
        border-right: none;
    }
    .bottom{
        padding-bottom: 10px;
    }
   
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
   
    .pb{
        padding-bottom: 24px !important;
    }
}