/* Topnavbar */

.topNavbar {
    background-color: white;
    border-radius: 5px;
    padding:1px 7px 1px 7px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.topNavContentBox {
    display: flex;
    flex-direction: row;
    background-color: #ebf4f7;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.topNavContent1 {
    font-size: 16px;
    font-family: sans-serif;
}

.topNavContent2 {
    font-size: 16px;
    color: #e73f15;
    text-transform: none;
    font-family: sans-serif;
}
.topNavContent2:hover {
    color: gray;
}

 .mobNav  {
     display:none;
}



.menu{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    
    text-transform: uppercase;
    color: #000;
    font-family: sans-serif;
    padding: 54px 0px;
}
.lists > li{
    margin: 0px 7px;

}
.lists > li:not(:last-child)::after{
    content: "►";
    position: absolute;
    transform: rotate(90deg);
    font-size: 10px;
    margin-left: 5px;
    color: #e73f15;
    margin-top: 3px;
}
.menu_cnt{
    display: none;
}
.menu:hover{
    color: #e73f15;
}
.menu:hover .menu_cnt{
    display: block;
}



@media screen and (max-width: 1020px) {

    .mobNav {
      display:block
    }

    .tablist {
        display:none ;
    }

  
   .headerContent {
    display: none;
   }

   
   .topNavbar {
    background-color: transparent;
    color: #ffffff;
    border: .1px solid rgb(148, 147, 147);
    border-radius: 0px;
    padding: 0;
    width: 45px;
   }

  
   .topNavContentBox {
    justify-content: left;
    padding: 10px 0px 20px 70px ;
   
   }

   .topNavContent1, .topNavContent2{
    font-size: 11px;
   }
}

.stickyHeader:hover {
    transition-delay: 2s;
    transition: 2s;
    background-color: #e8e8e8;
    border-radius: 0px;
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 99999;
    background-color: #ffffff;
    padding: 15px 15% 15px 15%;
  }


  @media screen and (max-width: 1430px) {
    .stickyHeader {
        padding: 0% 3%;
      }
    

  }



  @media screen and (max-width: 720px) {

    .topNavContentBox {
        padding-left: 20px;
    }
  }


.visible{
    position: absolute;
    z-index: 500;
    display: flex;
    flex-direction: row;
    gap: 35;
    justify-content: center;
    width: 100%;
    left: 0;
    padding: "3% 0% 2% 0%";
    transition-delay: .3s;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 992px) {
    .lists > li:not(:last-child)::after{
        content: "►";
        position: absolute;
        right: 10px;
        transform: rotate(90deg);
        font-size: 10px;
        margin-left: 5px;
        color: #e73f15;
        margin-top: 2px;
    }
}
 
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    
    }
    }
    @keyframes fadeInUp {
    0% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
}


.menu_links{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
}
.link_text{
    font-size: "16px";
    text-transform: "none";
    margin: '0px 20px';
}
.link_text:hover{
    color: "#e73f15"
}

