.hline{
    width: 18px !important;
    height: 2px !important;
    background-color: #fff !important;
    position: absolute;
    margin-bottom: 2px;
}

.linktext{
    text-decoration: none;
    font-size: 16px; 
    color: #7ddfff;
    margin-left: 25px;
}

.linktext:hover{
    color: #fff;
}

.detectiveImage {
    bottom: 0;
    width: 50%;
    height: 350px;
    margin-bottom: -4px;
    }



.hline1{
    width: 18px !important;
    height: 2px !important;
    background-color: #000 !important;
    
    margin-bottom: 2px;
}

.linktext1{
    text-decoration: none;
    font-size: 16px; 
    color: #e73f15;
    
}

.linktext1:hover {
    color: #abb8c3;
}